<div class="container-fluid">
	<div class="row">

	  	<div class="col-md-8">
			  	<h4>検索順位の推移</h4>
			  	<div id="search_ranking_history" style="width: 700px; height: 200px;"></div>
			  	<h4>検索ページ数の推移</h4>
			  	<div id="search_page_history" style="width: 700px; height: 200px;"></div>
			  	<h4>商品レビュー数の推移</h4>
			  	<div id="item_review_count" style="width: 700px; height: 200px;" ></div>
	
	  	</div><!--End col-md-8-->
	  	<div class="col-md-4">

			  	<h4>SEO タスク</h4>
			  	<div class="panel panel-default">
			  		<div class="panel-body">
							<ul>
								<li>商品画像の追加</li>  	
								<li>登録カテゴリの見直し</li>  	
								<li>キーワード候補の見直し</li>  	
								<li>etc</li>  	
								<li>etc</li>  	
							</ul>
			  		</div><!--End panel-body-->
			  	</div><!--End panel-->
			  	<h4>サジェストキーワード</h4>
			  	<table class="table table-bordered table-striped">
			  	<thead>
			  	<tr><th>#</th><th>キーワード候補</th><th>想定検索ボリューム</th></tr>
			  	</thead>
			  	<tbody>
			  	<tr><td>1</td><td>Chef's knife</td><td>80</td></tr>
			  	<tr><td>2</td><td>Chefs knife</td><td>60</td></tr>
			  	<tr><td>3</td><td>Stainless Steel Knife</td><td>40</td></tr>
			  	<tr><td>4</td><td>Japanese blade</td><td>32</td></tr>
			  	<tr><td>5</td><td>Japanese knife</td><td>15</td></tr>
			  	</tbody>
			  	</table>
		</div><!--End col-md-4-->

	</div>
</div>